.App {
    text-align: center;
    background-color: #3182ce;
}

.IntroSection {
    background-image: url("assets/chi.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
}